.btn{
    background-color: aqua;
    width: 200px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    color: red;
    cursor:pointer;
    border: 3px solid#E6CAFF;

}
.btn:hover{
    background-color: black;
    color: aliceblue;
}